<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${users} and ${users.size()}">No registered Users. <a href="user/add">Register for an Account.</a></p>

<div th:each="user : ${users}" >
    <tr th:text="${user.username}" >
    </tr>
</div>

<p><a href="user/add">Register</a></p>


</body>
</html>